[submodule "dependencies/asio"]
	path = dependencies/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "dependencies/googletest"]
	path = dependencies/googletest
	url = https://github.com/google/googletest.git
